<% provide(:title, 'About') %>
<h1>About</h1>
<div class="row">
	<p>Carson Auto is a fictitious auto dealer company created for a semester project in Internet Programming and E-Commerce, under the Department of Web and Multimedia at Tshwane University of Technology, Soshanguve campus. </p>
</div>
