<% provide(:title, 'Home') %>
<h1>Welcome to Carson Auto</h1>
<p>
	
	<% Car.all.each do |car| %>
	<div class="well">
  		<%= image_tag car.image_url(:thumb).to_s, class: "thumbnail" %><br>
  		<%= car.make %><br>
  		<%= car.year %><br>
  		<%= car.price %><br>
  	</div>
	<% end %>

</p>
